<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Summary</key>
	<string>New view modifier with View public extension.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View Modifiier Name:</string>
			<key>Description</key>
			<string>The name of the fileprivate view modifier</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Use Case Name</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>funcName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Function Signature:</string>
			<key>Description</key>
			<string>The signature of the View extension function</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string></string>
		</dict>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>ViewModifier</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>SupportsSwiftPackage - 2</key>
	<true/>
</dict>
</plist>
